/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}
.linha{
	width: 960px !important;
	margin: auto !important;
}
.coluna1{
	width: 460px;
}
.coluna2{
	width: 210px;
}
.esquerda{
	float: left;
}
.direita{
	float: right;
}
.busca{
	padding: 8px;
	float: right;
}
.background-body{
	background: #d1d1d1 !important;
	color: #080808 !important;
	
}
.form-group{
	align-items: center !important;
}
.vw1{
	padding-top: 60px !important;
	background-color: #c9c9c9;
	border-radius: 15px !important;
	padding-bottom: 10px;
}
.vw2{
	padding-top: 15px !important;
	background-color: #c9c9c9;
	border-radius: 15px !important;
	padding-bottom: 10px;
}
.botao-addmusica{
	margin-top: 25px;
}
.botao-play{
	margin: 5px;
}
.btn-modal{
	margin-left: 80px;
}
.plList{
	margin-top: 20px;
}
.mkList{
	width: 760px;
}
.img-logo{
	width: 50px;
	float: left;
}
h4, h3, h2{
	font-weight: bolder;
}

body{
	font-family: 'Josefin Slab', serif;
	font-size: 17px;
}
a:hover,a:active,a:focus{
	background: #d1d1d1 !important;
	color: #080808 !important;

}
a.logo{
	font-size: 40px !important;
	color: white !important;
	background: transparent !important;
}


label{
	padding: 10px 0 0 15px;
}
input{
	border-radius: 15px !important;
	padding: 10px 0 0 0;
	box-shadow: #080808 1px 1px 1px !important;
}
input:focus, user-select{
	border-color: black;
}
#imagem{
	box-shadow: 0 0 0 0  !important;
}

button{
	border-radius: 15px !important;
	box-shadow: #080808 1px 1px 1px !important;
}
.img-artista{
	width: 200px;
	height: 200px;
	margin: auto;
	border-radius: 50%;
}
.artista-box{
	width: 100px;
	height: 100px;
	margin: auto;
	border-radius: 50%;
}
.artista-box h2{
	font-style: bold !important;
}
.artista-box h4{
	font-weight: bold !important;
}
.product_view .modal-dialog{max-width: 800px; width: 100%;}
        .pre-cost{text-decoration: line-through; color: #a5a5a5;}
        .space-ten{padding: 10px 0;}