<div>
	<form class="form-inline form-group linha">         
       <div class="busca">   
         <div class="form-group">    
          <input type="text" class="form-control" id="text" placeholder="Digite a busca" ng-model="artistaBuscado">   
          <button type="buscar" class="btn btn-default" ng-disabled="!artistaBuscado" ng-click="buscarArtista(artistaBuscado)" data-toggle="modal" data-target="#buscados">Buscar</button>   
       </div>    
	</form>
</div>
<form class="form linha container vw1">
	<div class="coluna1 esquerda">
	  <div class="form-group">
	    <label for="artista">Artista</label>
	    <input type="text" class="form-control" id="text" placeholder="Digite nome do artista" ng-model="artista.nome">
	    <label for="imagem">Imagem do artista</label>
    	<input type="text" class="form-control" id="text" placeholder="Digite o link da imagem" ng-model="artista.img">
	  </div>
	  <button type="submit" class="btn btn-default" ng-click="addArtista(artista)" ng-disabled="!artista.nome">Submit</button>
	</div>
	<div>
		<div class="coluna2 esquerda">
			<img src="{{artistaMostra.img}}" alt="Imagem artista" class="img-artista"/>
			
		</div>
		<div class="coluna2 direita">
			<h2>Nome do artista:</h2>
			<p>{{artistaMostra.nome}}</p>
		</div>
	</div>


</form>
<div class="linha container" ng-show="temFavoritos()">
	<h2>Lista de Favoritos</h2>
	<div class="linha">
  	<div ng-repeat="art in favoritos" class="jumbotron col col-md-4">
		<div>
	  		<img src="{{art.img}}"  class="artista-box" width="100" height="100">
	  		<h2>Nome do artista:</h2>
 			<p>{{art.nome}}</p>
 			<h4>Última música: {{art.ultimaMusica}}</h4>
 			<label>Nota: {{art.nota}}</label>

 			<button type="Remove" class="btn btn-default" ng-click="removeFavoritos(art)">Remover dos favoritos</button>
	 	</div>
	</div>
</div>

</div>

<div class="modal fade product_view" id="buscados">
	    <div class="modal-dialog">
	        <div class="modal-content colorModal">
	            <div class="modal-body">
	            	<div ng-show="mostraListBusca">

	            		<h3 style="text-align: center">Artistas Procurados</h3>
						<table class="table table-stried">
							<tr>
								<th>
									<h4>Nome</h4>
								</th>
								<th>
									<h4>Adicionar aos favoritos</h4>
								</th>
							</tr>
							<tr ng-repeat="arts in artistasProcurados">
								<td><button class="btn" ng-click="mostraArtista(arts)">{{arts.nome}}</button></td>
								<td><button class="btn" ng-click="addFavoritos(arts)">Adicionar aos favoritos</button></td>
							</tr>	
						</table>
 					</div>
 					<div ng-show="mostraInfo">
 						<div class="modal-header">
		                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
		                <h3 class="modal-title">Informações artista</h3>
           			</div>
 						<div class="row">
 							<div class="col-lg-6">
 								<img style="width: 250px; height: 250px" ng-src="{{artistaSelecionado.img}}">
 							</div>
 							<div class="col-lg-6">
 								<h4>Nome:</h4>
 								{{artistaSelecionado.nome}}
 								<h4>Última música ouvida:</h4>
 								{{artistaSelecionado.ultimaMusica}}
 								<h4>Nota:</h4>
 								{{artistaSelecionado.nota}}
 							</h4>
 							</div>
 						</div>
 					</div>
	            </div>
	            <div>
	            	
		            <div class="modal-footer" ng-show="mostraInfo">	
		            	 
		            	<div class="row">

		            		<div class="col-lg-6 form-group">
								<input style="width: 170px" type="nota" nome="nota" class="form-control" id="text" placeholder="Nota do artista" ng-model="nota">
								
								<button type="button" class="btn btn-default" ng-click="addNota(nota)"> Atribuir nota</button>  
							</div>
		            		<div class="col-lg-6 form-group">
			            		<input style="width: 170px" type="ultimaMusica" nome="ultimaMusica" class=" form-control" id="text" placeholder="Última música tocada" ng-model="ultMusica">

			            		<button type="button" class="btn btn-default" ng-click="ultimaMusica(ultMusica)"> Última música</button>  
			            	</div>
						</div>          	
		            </div>
		        </div>
		    </div>
	    </div>
	</div>

<!--
<div class="modal fade product_view" id="buscados">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" data-dismiss="modal" class="class pull-right"><span class="glyphicon glyphicon-remove"></span></a>
                <h3 class="modal-title">Resultado da busca:</h3>
            </div>
            <div class="modal-body">

                <div>
                    <div>
					    <div class="linha container" ng-show="ultArtAdd">
						  	<div>
								<div>	  		
						 			<div ng-repeat="arts in artistasProcurados">
						 				<h2>Nome do artista:</h2>
					 					<p>{{arts.nome}}</p>
								  		<h4>Última música:</h4>
								  		<p>{{arts.ultimaMusica}}</p>
								  		<h4>Nota</h4>
								  		<p>{{arts.nota}}</p>
						 			</div>
	  							</div>
							</div>
						</div>
             		</div>
             	</div>
            </div>
        </div>
    </div>
</div> -->