<form class="form linha">
	<div class="coluna1 esquerda">
	  <div class="form-group">
	    <label for="artista">Artista</label>
	    <input type="text" class="form-control" id="text" placeholder="Digite nome do artista" ng-model="artista">
	    <label for="imagem">Imagem do artista</label>
    	<input type="file" id="imagem">
	  </div>
	  <button type="submit" class="btn btn-default" ng-click="addArtista()">Submit</button>
	</div>
	<div>
		<div class="coluna2 esquerda">
			<img src="../img/Profil_licnosti.png" alt="Imagem artista" class="img-artista">
			
		</div>
		<div class="coluna2 direita">
			<h2>Nome do artista:</h2>
			<p>{{artista}}</p>
		</div>
	</div>

</form>
